#app-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 6vh;
    height: 94vh;
}

#portrait {
    border-radius: var(--radius1);
    box-shadow: var(--shadow1);
    height: 70%;
}

#img-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70%;
    width: 90%;
    background-color: var(--color1);
    border-radius: var(--radius1);
    box-shadow: var(--shadow1);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#img-container h1, #img-container h2 {
    padding: 10px;
    margin: 0px;
}

#content-left, #content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#content-left {
    width: 65%;
}

#content-right {
    width: 35%;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-style: italic;
}