#app-content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 100vh;
    padding: 5% 10%;
    align-items: end;
}

#content-left, #content-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
}

#content-left {
    width: 40%;
    position: fixed;
    left: 10%;
}

#content-right {
    width: 50%;
}

#main-info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px -1px 1px 0px rgb(200, 198, 198), 0px 3px 3px 0px black;
    transition: 0.3s;
}

#main-info img:hover {
    box-shadow: 0px -1px 1px 0px rgb(200, 198, 198), 0px 10px 10px 0px black;
    transform: translateY(-10px);
}

#main-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#main-info > * {
    margin: 10px 0;
}

#main-info p {
    width: 50%;
}

#img-container h1, #img-container h2 {
    padding: 10px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}